<a href="https://colab.research.google.com/github/alurabhinava/IITM_BS_in_DataScience/blob/MachineLearningPractice/MLP_Week1_GA_1_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv('/content/drive/MyDrive/MLP/V5.csv')

Select all the even indexed rows from the given dataset. What is the value in the 3rd indexed column of the 0th indexed row in the selected dataframe. (row/ column indexed from zero(0) in python/pandas)

In [4]:
Criteria = df.index % 2 != 1

In [5]:
Criteria

array([ True, False,  True, ..., False,  True, False])

In [8]:
df_even = df.loc[Criteria]

In [12]:
df.loc[Criteria].iloc[0,3]

111440.0

In [18]:
df_even.iloc[0,3]

111440.0

In [15]:
df_even

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,?,Detached House,3,2,1092.0,1.025953,East
6,2009-01-02,2009,Norwalk,571060.0,1000000.0,Single Family,Detached House,3,2,NaN,1.025953,South
8,2009-01-02,2009,NaN,603540.0,1680000.0,Single Family,Detached House,3,1,1039.0,1.025953,East
...,...,...,...,...,...,...,...,...,...,...,...,...
9990,2022-09-30,2022,NaN,352030.0,700000.0,?,Detached House,3,3,958.0,1.003979,North
9992,2022-09-30,2022,Fairfield,NaN,680000.0,Single Family,Detached House,3,2,908.0,1.003979,West
9994,2022-09-30,2022,NaN,155550.0,215000.0,Three Family,Triplex,6,5,2114.0,1.003979,North
9996,2022-09-30,2022,Bridgeport,109820.0,340000.0,?,Duplex,4,4,1416.0,1.003979,North
9998,2022-09-30,2022,NaN,216420.0,415000.0,Single Family,Detached House,3,3,1014.0,1.003979,North

Select all the even indexed rows from the given dataset. What is the value in the 3rd indexed column of the 332th indexed row in the selected dataframe.

In [13]:
df_even.iloc[332, 3]

256200.0

In [14]:
df.loc[Criteria].iloc[332,3]

256200.0

Select all the odd indexed rows from the given dataset. What is the value in the 3rd indexed column of the 332th indexed row in the selected dataframe.

In [19]:
Criteria = df.index % 2 == 1

In [20]:
Criteria

array([False,  True, False, ...,  True, False,  True])

In [21]:
df_odd = df.loc[Criteria]

In [22]:
df_odd

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
5,2009-01-02,2009,Greenwich,2868880.0,3300000.0,Single Family,Detached House,3,1,1039.0,1.025953,North
7,2009-01-02,2009,Greenwich,592760.0,920000.0,Single Family,Detached House,3,3,937.0,1.025953,North
9,2009-01-02,2009,Bridgeport,137901.0,245000.0,Single Family,Detached House,3,1,956.0,1.025953,West
...,...,...,...,...,...,...,...,...,...,...,...,...
9991,2022-09-30,2022,Norwalk,344270.0,512500.0,Single Family,Detached House,3,3,NaN,1.003979,West
9993,2022-09-30,2022,West Hartford,121870.0,235000.0,Single Family,Detached House,3,2,1087.0,1.003979,South
9995,2022-09-30,2022,Bridgeport,153660.0,322000.0,?,Detached House,3,3,917.0,1.003979,North
9997,2022-09-30,2022,Waterbury,83210.0,170000.0,Single Family,Detached House,3,1,964.0,1.003979,South
9999,2022-09-30,2022,Norwalk,154920.0,196000.0,Single Family,Detached House,3,1,932.0,1.003979,East

In [23]:
df_odd.iloc[332, 3]

352940.0


Select all the odd indexed columns from the given dataset. What is the value in the 5th indexed column of the 100th indexed row in the selected dataframe

In [24]:
df_odd.iloc[100, 5]

'Single Family'


Select all the even indexed columns and even indexed rows from the given dataset. What is the value in the 3th indexed column of the 255th indexed row in the selected dataframe.

In [26]:
df_even.iloc[255, 5]

'Single Family'

Determine the number of samples (rows) in the dataset that belong to the six most recent years, based on the provided data.

In [27]:
Criteria = df.Year >= 2024-6

In [28]:
Criteria

0       False
1       False
2       False
3       False
4       False
        ...
9995     True
9996     True
9997     True
9998     True
9999     True
Name: Year, Length: 10000, dtype: bool

In [29]:
df.loc[Criteria]

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
6117,2018-01-04,2018,Stamford,251740.0,383000.0,Single Family,Detached House,3,2,961.0,1.422308,West
6118,2018-01-05,2018,Waterbury,93690.0,55000.0,Single Family,Detached House,3,3,NaN,1.422308,North
6119,2018-01-05,2018,Waterbury,64060.0,88000.0,Single Family,Detached House,3,2,NaN,1.422308,North
6120,2018-01-05,2018,Stamford,485480.0,747500.0,Single Family,Detached House,3,3,1081.0,1.422308,North
6121,2018-01-05,2018,Stamford,299290.0,470000.0,Single Family,Detached House,3,2,1074.0,1.422308,South
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2022-09-30,2022,Bridgeport,153660.0,322000.0,?,Detached House,3,3,917.0,1.003979,North
9996,2022-09-30,2022,Bridgeport,109820.0,340000.0,?,Duplex,4,4,1416.0,1.003979,North
9997,2022-09-30,2022,Waterbury,83210.0,170000.0,Single Family,Detached House,3,1,964.0,1.003979,South
9998,2022-09-30,2022,NaN,216420.0,415000.0,Single Family,Detached House,3,3,1014.0,1.003979,North
9999,2022-09-30,2022,Norwalk,154920.0,196000.0,Single Family,Detached House,3,1,932.0,1.003979,East

Determine the number of samples (rows) in the dataset which has num_rooms = 3 and num_bathrooms = 3

In [33]:
Criteria_rooms = df.num_rooms == 3

In [34]:
Criteria_Bathrooms = df.num_bathrooms == 3

In [37]:
Criteria = Criteria_rooms & Criteria_Bathrooms

In [38]:
Criteria

0        True
1       False
2       False
3       False
4       False
        ...
9995     True
9996    False
9997    False
9998     True
9999    False
Length: 10000, dtype: bool

In [39]:
df.loc[Criteria]

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
7,2009-01-02,2009,Greenwich,592760.0,920000.0,Single Family,Detached House,3,3,937.0,1.025953,North
13,2009-01-03,2009,Greenwich,1046920.0,600000.0,Single Family,Detached House,3,3,1068.0,1.025953,South
16,2009-01-05,2009,Waterbury,74620.0,206500.0,Single Family,Detached House,3,3,966.0,1.025953,South
22,2009-01-08,2009,NaN,1260560.0,1895000.0,Single Family,Detached House,3,3,1005.0,1.025953,South
...,...,...,...,...,...,...,...,...,...,...,...,...
9989,2022-09-29,2022,Stamford,373530.0,485000.0,?,Detached House,3,3,1084.0,1.003979,South
9990,2022-09-30,2022,NaN,352030.0,700000.0,?,Detached House,3,3,958.0,1.003979,North
9991,2022-09-30,2022,Norwalk,344270.0,512500.0,Single Family,Detached House,3,3,NaN,1.003979,West
9995,2022-09-30,2022,Bridgeport,153660.0,322000.0,?,Detached House,3,3,917.0,1.003979,North
9998,2022-09-30,2022,NaN,216420.0,415000.0,Single Family,Detached House,3,3,1014.0,1.003979,North

Determine the number of samples (rows) in the dataset which has num_rooms = 3 or num_bathrooms = 3

In [40]:
Criteria = Criteria_rooms | Criteria_Bathrooms

In [41]:
df.loc[Criteria]

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,?,Detached House,3,2,1092.0,1.025953,East
...,...,...,...,...,...,...,...,...,...,...,...,...
9993,2022-09-30,2022,West Hartford,121870.0,235000.0,Single Family,Detached House,3,2,1087.0,1.003979,South
9995,2022-09-30,2022,Bridgeport,153660.0,322000.0,?,Detached House,3,3,917.0,1.003979,North
9997,2022-09-30,2022,Waterbury,83210.0,170000.0,Single Family,Detached House,3,1,964.0,1.003979,South
9998,2022-09-30,2022,NaN,216420.0,415000.0,Single Family,Detached House,3,3,1014.0,1.003979,North
9999,2022-09-30,2022,Norwalk,154920.0,196000.0,Single Family,Detached House,3,1,932.0,1.003979,East


In the Year 2022, how many houses (rows) located in the Greenwich Locality have exactly num_room == 3, and facing towards either the North or East?

In [43]:
Criteria_Year = df.Year == 2022

In [44]:
Criteria_Loc = df.Locality == 'Greenwich'

In [45]:
Criteria_rooms = df.num_rooms == 3

In [48]:
Criteria_Face = (df.Face == 'North') | (df.Face == 'East')

In [53]:
Criteria = (df.Year == 2022) & (df.Locality == 'Greenwich') & (df.num_rooms == 3) & ((df.Face == 'North') | (df.Face == 'East'))

In [56]:
Criteria = Criteria_Year & Criteria_Loc & Criteria_rooms & Criteria_Face

In [57]:
df.loc[Criteria].shape

(42, 12)

In [58]:
df.loc[Criteria]

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
9225,2022-01-09,2022,Greenwich,1613360.0,2750000.0,Single Family,Detached House,3,3,1034.0,1.003979,East
9243,2022-01-16,2022,Greenwich,3179330.0,3800000.0,?,Detached House,3,1,1012.0,1.003979,North
9244,2022-01-16,2022,Greenwich,NaN,950000.0,Single Family,Detached House,3,1,968.0,1.003979,East
9267,2022-01-28,2022,Greenwich,NaN,3600000.0,?,Detached House,3,2,972.0,1.003979,East
9281,2022-01-30,2022,Greenwich,837200.0,1350000.0,Single Family,Detached House,3,1,913.0,1.003979,East
9327,2022-02-19,2022,Greenwich,1058540.0,1470000.0,Single Family,Detached House,3,2,900.0,1.003979,East
9350,2022-02-28,2022,Greenwich,1190000.0,1630000.0,Single Family,Detached House,3,3,1082.0,1.003979,East
9353,2022-02-28,2022,Greenwich,1470980.0,2300000.0,?,Detached House,3,2,NaN,1.003979,North
9359,2022-03-02,2022,Greenwich,1004780.0,2185000.0,Single Family,Detached House,3,3,929.0,1.003979,East
9374,2022-03-05,2022,Greenwich,480620.0,531250.0,Single Family,Detached House,3,2,1003.0,1.003979,North
9379,2022-03-06,2022,Greenwich,NaN,2350000.0,Single Family,Detached House,3,3,NaN,1.003979,East
9490,2022-05-06,2022,Greenwich,477820.0,775000.0,Single Family,Detached House,3,3,1007.0,1.003979,East
9519,2022-05-18,2022,Greenwich,2082290.0,2500000.0,Single Family,Detached House,3,1,1074.0,1.003979,North
9530,2022-05-20,2022,Greenwich,NaN,500000.0,Single Family,Detached House,3,3,NaN,1.003979,East
9572,2022-06-09,2022,Greenwich,3264450.0,4250000.0,Single Family,Detached House,3,1,1077.0,1.003979,East
9596,2022-06-19,2022,Greenwich,487690.0,480000.0,Single Family,Detached House,3,2,999.0,1.003979,East
9637,2022-07-01,2022,Greenwich,1604050.0,2325000.0,Single Family,Detached House,3,3,1071.0,1.003979,East
9662,2022-07-10,2022,Greenwich,1500310.0,2550000.0,?,Detached House,3,3,982.0,1.003979,East
9691,2022-07-20,2022,Greenwich,1892100.0,2880000.0,Single Family,Detached House,3,1,910.0,1.003979,East
9700,2022-07-22,2022,Greenwich,NaN,1475000.0,Single Family,Detached House,3,2,1064.0,1.003979,North
9707,2022-07-24,2022,Greenwich,1461180.0,2410000.0,Single Family,Detached House,3,3,1022.0,1.003979,East
9715,2022-07-27,2022,Greenwich,339780.0,271000.0,Single Family,Detached House,3,3,1024.0,1.003979,East
9736,2022-07-30,2022,Greenwich,2211440.0,3200000.0,Single Family,Detached House,3,1,1031.0,1.003979,North
9767,2022-08-07,2022,Greenwich,1635480.0,2725000.0,Single Family,Detached House,3,2,928.0,1.003979,East
9768,2022-08-07,2022,Greenwich,NaN,1820000.0,Single Family,Detached House,3,1,902.0,1.003979,North
9778,2022-08-12,2022,Greenwich,1884960.0,2375000.0,Single Family,Detached House,3,1,1020.0,1.003979,North
9789,2022-08-14,2022,Greenwich,1087030.0,2100000.0,?,Detached House,3,2,917.0,1.003979,North
9797,2022-08-17,2022,Greenwich,4460820.0,4460000.0,Single Family,Detached House,3,1,1098.0,1.003979,East
9805,2022-08-18,2022,Greenwich,1087870.0,2420000.0,?,Detached House,3,1,915.0,1.003979,East
9806,2022-08-18,2022,Greenwich,3400600.0,4400000.0,?,Detached House,3,1,1100.0,1.003979,North
9811,2022-08-19,2022,Greenwich,5206950.0,4650000.0,Single Family,Detached House,3,2,903.0,1.003979,East
9817,2022-08-19,2022,Greenwich,1509900.0,2285000.0,Single Family,Detached House,3,3,946.0,1.003979,North
9848,2022-08-28,2022,Greenwich,NaN,3200000.0,Single Family,Detached House,3,3,1039.0,1.003979,East
9851,2022-08-28,2022,Greenwich,NaN,8100000.0,Single Family,Detached House,3,2,NaN,1.003979,North
9854,2022-08-28,2022,Greenwich,NaN,1300000.0,Single Family,Detached House,3,1,1068.0,1.003979,North
9869,2022-09-01,2022,Greenwich,NaN,2150000.0,Single Family,Detached House,3,3,1003.0,1.003979,East
9882,2022-09-02,2022,Greenwich,483770.0,775000.0,?,Detached House,3,3,981.0,1.003979,North
9883,2022-09-02,2022,Greenwich,931910.0,1000100.0,Single Family,Detached House,3,1,1058.0,1.003979,North
9898,2022-09-04,2022,Greenwich,310660.0,500000.0,Single Family,Detached House,3,2,1060.0,1.003979,East
9945,2022-09-16,2022,Greenwich,1538180.0,3100000.0,Single Family,Detached House,3,3,1060.0,1.003979,North
9969,2022-09-23,2022,Greenwich,3591700.0,5000000.0,Single Family,Detached House,3,2,NaN,1.003979,East
9982,2022-09-28,2022,Greenwich,439320.0,865000.0,Single Family,Detached House,3,1,1069.0,1.003979,East

Calculate the number of samples(rows) that correspond to the month of August across all the years.?

In [60]:
df.Date[0][5:7]

'01'

In [81]:
type(df.Date[0])

str

In [88]:
df.Date.str[5:7]

0       01
1       01
2       01
3       01
4       01
        ..
9995    09
9996    09
9997    09
9998    09
9999    09
Name: Date, Length: 10000, dtype: object

In [85]:
type(df.Date.str.split('-')[1][1])

str

In [89]:
Criteria = df.Date.str[5:7] == '08'

In [90]:
Criteria

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Name: Date, Length: 10000, dtype: bool

In [91]:
df.loc[Criteria]

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
500,2009-08-01,2009,Greenwich,919800.0,1275000.0,Single Family,Detached House,3,1,NaN,1.025953,North
501,2009-08-01,2009,Fairfield,417130.0,505000.0,Single Family,Detached House,3,3,1011.0,1.025953,South
502,2009-08-01,2009,Fairfield,NaN,420000.0,Single Family,Detached House,3,3,976.0,1.025953,East
503,2009-08-01,2009,Norwalk,257950.0,460000.0,Single Family,Detached House,3,3,966.0,1.025953,East
504,2009-08-01,2009,Norwalk,239330.0,400000.0,Single Family,Detached House,3,2,973.0,1.025953,South
...,...,...,...,...,...,...,...,...,...,...,...,...
9862,2022-08-31,2022,Bridgeport,123720.0,230000.0,Single Family,Detached House,3,1,1084.0,1.003979,North
9863,2022-08-31,2022,Stamford,438680.0,472500.0,Single Family,Detached House,3,1,NaN,1.003979,South
9864,2022-08-31,2022,NaN,57760.0,120000.0,?,Triplex,6,5,2156.0,1.003979,West
9865,2022-08-31,2022,Fairfield,314650.0,287000.0,Single Family,Detached House,3,3,1012.0,1.003979,West
9866,2022-08-31,2022,Stamford,347990.0,579000.0,Single Family,Detached House,3,1,NaN,1.003979,North


According to the data which Locality have highest average Sale Price?

In [94]:
dfGb_Loc = df.groupby("Locality")

In [102]:
dfGb_Loc["Sale Price"].mean()

Locality
Bridgeport       1.740953e+05
Fairfield        7.277225e+05
Greenwich        2.270224e+06
Norwalk          5.590959e+05
Stamford         6.305313e+05
Waterbury        1.062152e+05
West Hartford    3.385472e+05
Name: Sale Price, dtype: float64